@charset "utf-8"; /* CSS Document */
html,body {
	margin: 0px;
	height: 100%;
	background-color: #f5f5f5;
}

img {
	border: 0
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

body {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
}

select,input {
	font-size: 12px;
	font-family: "宋体";
	padding: 0;
	margin: 0;
}

ul,li,dl,dt,dd,h1,h2,h3,h4,h5,p,form,em,span {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style: none
}

table {
	border: 0px;
	padding: 0;
	margin: 0;
}

em {
	font-style: normal
}

/*top*/
.top {
	width: 100%;
	height: 238px;
	background: url(images/top_bg2_02.jpg);
	position: relative;
}

.top1 {
	width: 100%;
	height: 134px;
	background: url(images/top_bg2_02.jpg);
	position: relative;
}

.top_one {
	width: 1002px;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
}

.web_link {
	width: 994px;
	margin: 0 auto;
	height: 36px;
	line-height: 36px;
}

.web_link p {
	width: auto;
	float: left;
	color: #e1ecff;
}

.web_link p a:hover {
	color: #1c5ba5;
	text-decoration: underline;
}

.web_link span {
	float: right;
	width: 100px;
	height: 18px;
	line-height: 18px;
	margin-top: 7px;
	text-indent: 24px;
}

.web_link span a {
	color: #aaaaaa;
}

.web_link span a:hover {
	text-decoration: underline;
}

.top_two {
	width: 100%;
	margin: 0 auto;
	height: 161px;
	background: url(/images/top_two_bg_03.jpg) no-repeat center;
}



.search {
	width: 257px;
	height: 28px;
	float: right;
	display: inline;
	background: url(images/sreach_bg_05.png) no-repeat;
	margin-top: 6px;
}

.search_kuang {
	width: 200px!important;
	line-height: 27px;
	height: 27px!important;
	float: left;
	background: none!important;
	border: none!important;
	text-indent: 9px;
	font-size: 12px;
	color: #9fa5ab;
}

.allsearch {
	width: 56px!important;
	height: 27px!important;
	background: url(../images/search_butbg_05.jpg) no-repeat center;
	border: none!important;
	margin-left: 1px;
	display: inline;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}



.nav {
	width: 992px;
	height: 41px;
	margin: 0 auto;
	position: relative;
	z-index: 1001;
}

.nav_left {
	width: 680px;
	float: left;
	height: 41px;
	line-height: 41px;
	font-family: "microsoft yahei";
	color: #cccfd0;
	font-weight: bolder;
}

.nav_left a {
	color: #777777;
	font-size: 14px;
	line-height: 41px;
}

.nav_left a:hover {
	width: 71px;
	height: 39px;
	background-color: #417bde;
	color: #fff;
}

/*center*/
.center {
	width: 1025px;
	margin: 0 auto;
	height: auto;
	overflow: auto;
	background-color: #fff;
	padding-bottom: 13px;
	*padding-bottom: 13px;
}

.centertop_left {
	width: 780px;
	height: auto;
	float: left;
	margin-left: 7px;
	display: inline;
	margin-top: 12px;
}

.centertop_right {
	width: 220px;
	margin-right: 9px;
	display: inline;
	margin-top: 12px;
	display: inline;
	float: right;
}

.gzdt_kuang {
	width: 779px;
	height: 279px;
	float: left;
	background-color: #f4f8ff;
}

.focus_iamge {
	width: 370px;
	height: 264px;
	float: left;
	margin-left: 6px;
	display: inline;
	margin-top: 7px;
}

.gzdt {
	width: 396px;
	height: 265px;
	float: left;
	margin-left: 4px;
	display: inline;
	margin-top: 7px;
}



.gzdt_nav a {
	color: #a3abb4
}

.gzdt_nav a:hover {
	color: #666
}

.dongtai_content {
	float: left;
	width: 392px;
	height: auto;
	margin-left: 3px;
	display: inline;
	margin-top: 15px;
}

.dongtai_content ul {
	float: left;
	width: 392px;
}


.dongtai_content ul li a {
	color: #1f3b7b
}

.dongtai_content ul li a:hover {
	font-weight: bold;
}

.sjgg {
	width: 779px;
	float: left;
	margin-top: 10px;
}



.job_about {
	float: left;
	width: 274px;
	height: 88px;
	background-color: #f6f6f6;
}

.job_about ul {
	float: left;
	width: 274px;
	height: 258px;
	height: 74px;
	margin-top: 9px;
	margin-left: 11px;
	display: inline;
}



.job_about ul li a {
	color: #27272b
}





.unified_login p {
	width: 155px;
	float: left;
	margin-top: 5px;
	color: #84878b;
	line-height: 19px;
	margin-left: 65px;
	display: inline
}

.unified_login p a {
	color: #84878b
}

.unified_login p a:hover {
	color: #1c5ba5;
	text-decoration: underline;
}

.important_notice {
	float: left;
	width: 220px;
	margin-top: 0px;
	background-color: #dde9fc;
}



.important_notice h1 img {
	float: left;
	margin-top: 10px;
	margin-left: 12px;
	display: inline;
}



.important_notice h1 span a {
	color: #093369
}

.important_notice h1 span a:hover {
	color: #dd9200;
	cursor: pointer
}

.important_notice ul {
	float: left;
	width: 220px;
	height: auto;
	padding-top: 9px;
	margin-bottom: 15px;
}



.important_notice ul li a {
	color: #565656;
}

.important_notice ul li a:hover {
	color: #000;
}

.gzwj_pxzl {
	width: 179px;
	height: 25px;
	margin-top: 8px;
	float: left;
	margin-left: 8px;
	display: inline;
	border-bottom: 1px solid #a5c1ee;
	text-align: center;
	padding-left: 23px;
	*padding-left: 23px;
	_padding-left: 23px;
}

.gzwj_pxzl a {
	display: block;
	width: 76px;
	height: 25px;
	float: left;
}

.gzwj_pxzl_xz {
	background-color: #a5c1ee;
	color: #093369;
}

.gzwj_pxzl_wxz {
	display: block;
	width: 76px;
	height: 25px;
	color: #a5c1ee
}

.gzwj_pxzl_wxz:hover {
	display: block;
	width: 76px;
	height: 25px;
	cursor: pointer;
	background-color: #a5c1ee;
	color: #093369;
}

.procurement_notice {
	width: 770px;
	border-bottom: 1px solid #cee1ff;
	border-left: 1px solid #cee1ff;
	border-right: 1px solid #cee1ff;
	height: 315px;
; float: left;
	margin-left: 3px;
	display: inline;
	margin-top: -12px;
}

.procurement_notice h2 {
	width: 770px;
	height: 34px;
	border-bottom: 3px solid #5387d7;
	background-color: #f6f9ff;
	float: left;
}



.title_two {
	background: none;
	border-right: 1px solid #d6d6d6;
}

.gonggao_title_wxz {
	float: left;
	line-height: 34px;
	color: #053b8f;
	font-size: 14px;
	font-family: "microsoft yahei";
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	*padding: 0px 6px 0px 6px;
	_padding: 0px 6px 0px 6px;
	margin-left: 1px;
	margin-right: 3px;
	display: inline;
}

.gonggao_title_wxz a {
	color: #053b8f;
	float: left;
}

.gonggao_title_wxz:hover {
	background-color: #c6d8f4;
}

.gonggao_title_xz {
	float: left;
	background-color: #c6d8f4;
	line-height: 34px;
	color: #053b8f;
	font-size: 14px;
	font-family: "microsoft yahei";
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	*padding: 0px 6px 0px 6px;
	_padding: 0px 6px 0px 6px;
	margin-left: 1px;
	margin-right: 3px;
	display: inline;
}

.gonggao_title_xz .big_titile {
	color: #053b8f;
	float: left;
	font-weight: bold;
}

.small_title_xz {
	padding: 0px 8px 0px 8px;
	*padding: 0px 8px 0px 8px;
	_padding: 0px 8px 0px 8px;
	color: #053b8f;
	border-left: 1px solid #98bbf3;
	border-top: 1px solid #98bbf3;
	border-right: 1px solid #98bbf3;
	background-color: #f6f9ff;
	height: 25px;
	line-height: 25px;
	float: left;
	margin-top: 8px;
	margin-left: 11px;
	display: inline;
	font-weight: normal;
}

.small_title_wxz {
	padding: 0px 8px 0px 8px;
	*padding: 0px 8px 0px 8px;
	_padding: 0px 8px 0px 8px;
	color: #053b8f;
	line-height: 25px;
	float: left;
	margin-top: 8px;
	font-weight: normal;
}

.jiange {
	width: 2px;
	height: 15px;
	float: left;
	margin-top: 10px;
	background-color: #bccfed;
}

.procurement_notice h2 p.xuanze {
	width: auto;
	float: right;
	margin-right: 20px;
	display: inline;
	height: 24px;
	margin-top: 10px;
}



.procurement_notice h2 p.more a {
	color: #F8990B;
}

.procurement_notice h2 p.more a:hover {
	color: #dd4d07;
	text-decoration: underline;
}

.procurement_notice h2 p:hover {
	background: #c6d8f4
}

.procurement_notice ul {
	float: left;
	width: 765px;
	margin-left: 3px;
	margin-top: 9px;
	display: inline;
	margin-bottom: 13px;
}

.procurement_notice ul table {
	width: 755px;
	line-height: 31px;
}

.procurement_notice ul table td {
	border-bottom: 1px dashed #bdbdbd;
	font-family: "microsoft yahei";
}

.cggg {
	color: #053b8f;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.cggg_red {
	color: red;
	padding-left: 5px;
	font-weight: bold;
	font-size: 14px;
}

.zbfs {
	color: #ffa800;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.dwbh {
	color: #8b5814;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.ggnr {
	color: #383838;
	text-align: left;
	font-size: 14px;
}

.ggnr_div {
	width: 403px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ggnr a {
	color: #383838;
}

.ggnr a:hover {
	color: #0c57cd
}



.ggnr2 a {
	color: #383838;
}

.ggnr2 a:hover {
	color: #0c57cd
}

.riqi {
	color: #979797;
	text-align: center;
	font-size: 12px;
}

.center_mid {
	width: 1003px;
	float: left;
	margin-left: 11px;
	display: inline;
	margin-top: 13px;
	height: 68px;
	margin-bottom: 4px;
}

.center_mid a {
	float: left;
	margin-right: 4px;
	display: inline
}

.center_mid a:hover {
	margin: -1px 4px 0px 0px;
	display: inline
}

.city_ranking {
	width: 1001px;
	height: 113px;
	background-color: #f0f5fd;
	float: left;
	margin-top: 8px;
	margin-left: 11px;
	display: inline;
}

.city_ranking span {
	width: 996px;
	height: 19px;
	text-align: center;
	float: left;
	margin-top: 11px;
}

.city_ranking p {
	float: left;
	width: 996px;
	text-align: center;
}



.foot {
	width: 1025px;
	margin: 0 auto;
	height: 189px;
	background: url(/images/footbg_03.jpg) repeat-x;
	padding-top: 19px;
	line-height: 28px;
	color: #7a7a7a;
	text-align: center;
}

.foot a {
	color: #1f3b7b
}

.foot a:hover {
	color: #0b57cd;
}

/*list*/
.main_left {
	width: 234px;
	float: left;
	margin-top: 10px;
	margin-left: 11px;
	display: inline;
	background-color: #e9eef2
}

.mian_left_nei {
	width: 232px;
	height: 880px;
	border: 1px solid #fff;
}

.nav_buttom {
	width: 234px;
	border: 1px #d5d5d5 solid;
}







.l_buttom_1 {
	width: 209px;
	height: 33px;
	background-color: #f9f9f9;
	border: 1px solid #d5d6d6;
	margin: 6px auto;
}

.l_buttom_1:hover {
	background-color: #f1f1f1
}


.main_right {
	width: 746px;
	float: right;
	margin-top: 10px;
	margin-right: 11px;
	display: inline;
}

.l_position {
	color: #444;
	line-height: 31px;
	padding-left: 3px;
	*padding-left: 3px;
}

.l_position a {
	color: #444;
	padding: 0 5px;
	*padding: 0 5px;
}

.l_position a:hover {
	color: #c9251d;
}

.l_position a.dq:hover {
	color: #444;
}

.advanced_search {
	width: 741px;
	float: left;
	height: auto;
	margin-top: 4px;
	border: 1px solid #eee;
}

.search_title {
	float: left;
	width: 741px;
	height: 32px;
	line-height: 32px;
	background-color: #f3f3f3;
	font-size: 14px;
	text-indent: 16px;
	color: #5f615e;
	font-family: "microsoft yahei"
}

.search_main {
	width: 706px;
	float: left;
	margin-top: 15px;
	margin-left: 28px;
	display: inline;
}

.search_main ul {
	float: left;
	width: 700px;
}

.search_main ul li {
	width: 706px;
	float: left;
	height: 30px;
}

.search_main ul li p {
	width: 86px;
	float: left;
	line-height: 30px;
	font-size: 12px;
	text-align: right;
	color: #747577;
}

.search_main ul li span {
	width: auto;
	float: left;
	line-height: 30px;
	color: #747577;
}

.select1 {
	width: 250px;
	height: 24px;
}

.caigouren {
	width: 246px;
	height: 22px;
}

.fabushijian {
	width: 109px;
	height: 22px;
	line-height: 24px;
	color: #b6b8b7;
	font-size: 12px;
	font-family: "microsoft yahei"
}

.chaxun {
	width: 69px!important;
	height: 28px!important;
	border: none!important;
	cursor: pointer;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: url(../images/list_07.jpg) no-repeat;
}

.search_main ul li span a {
	color: #006fcb;
}

.search_main ul li span a:hover {
	text-decoration: underline;
}

.news_list {
	float: left;
	width: 743px;
	margin-top: 12px;
	margin-bottom: 10px;
}

.list_title {
	padding-left: 15px;
	*padding-left: 15px;
	height: 35px;
	line-height: 36px;
	font-weight: bold;
	background-color: #f5f5f5;
	border-top: 1px #0073af solid;
	border-bottom: 1px #e1e0e0 solid;
	border-left: 1px #e1e0e0 solid;
	border-right: 1px #e1e0e0 solid;
}

.list_title p {
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #006fcb;
	float: left;
}

.list_title span {
	float: right;
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #006fcb;
	margin-right: 10px;
	display: inline;
}

ul.list_news {
	float: left;
	width: 738px;
	padding: 15px 5px;
	*padding: 15px 5px;
	font-size: 12px;
	line-height: 32px;
}

ul.list_news li {
	float: left;
	width: 100%;
	line-height: 28px;
	border-bottom: 1px #eaeaea dashed;
}

ul.list_news li p {
	float: left;
	color: #1f3b7b;
}

ul.list_news li p b {
	float: left;
	color: #cc0f0e;
	margin-right: 5px;
	display: inline;
	font-size: 12px;
}

ul.list_news li p a {
	color: #373737;
	padding-left: 5px;
	*padding-left: 5px;
}

ul.list_news li a:hover {
	color: #c50000;
}

ul.list_news li span {
	width: 70px;
	float: right;
	line-height: 28px;
	color: #9fadcd;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}

.page_search {
	float: left;
	width: 743px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-family: Arial, Helvetica, sans-serif;
}

.page_search a {
	margin: 0 5px;
	padding: 4px 7px;
	*padding: 4px 7px;
}

.page_search_01 {
	border: 1px solid #ccc;
	background: #eee;
	color: #333;
}

.page_search_01:hover {
	border: 1px solid #3374dc;
	background: #3374dc;
	color: #FFF;
}

.page_search_02 {
	border: 1px solid #3374dc;
	background: #3374dc;
	color: #FFF;
}

.page_search_02:hover {
	border: 1px solid #3374dc;
	background: #3374dc;
	color: #F30;
}

/*read*/
.center_top {
	overflow: hidden;
	border-bottom: 3px solid #0c4d9e;
}



/*.weizhi{ float:left; width:966px; margin-left:10px; display:inline; margin-top:10px; padding:0 8px 0 12px;*padding:0 8px 0 12px; overflow:hidden; height:19px; color:#0c4d9e; font-size:14px;}*/
.weizhi {
	float: right;
	display: inline;
	padding: 10px 12px 10px 0;
	*padding: 10px 12px 10px 0;
	overflow: hidden;
	line-height: 30px;
	color: #0c4d9e;
	font-size: 14px;
}

/*.full { float:left;width:1024px; overflow:hidden; margin:15px 8px 0 -3px; display:inline; border-top:3px solid #0c4d9e; padding:40px -5px 0 -5px;*padding:40px -5px 0 -5px;font-family:microsoft yahei}*/
.register_box {
	overflow: hidden;
	font-family: microsoft yahei;
}

.register_top {
	text-align: left;
	line-height: 60px;
	font-size: 18px;
	color: #333;
}

.register_top img {
	display: inline-block;
	float: left;
	margin-left: 20px;
}



.register_content {
	border-top: solid 1px red;
	margin: 0 20px 20px 20px;
	border: solid 1px #ccc;
	height: 440px;
	overflow-x: hidden;
	overflow-y: auto;
}

.register_content img {
	display: block;
	width: 850px;
	margin: 20px auto;
}

.register_content iframe {
	width: 100%;
	height: auto;
	border: none;
}

.text_box {
	margin: 0 20px;
}

.text_title {
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	border-bottom: 2px solid #265378;
	margin-bottom: 20px;
}

.next {
	text-align: center;
	vertical-align: middle;
}



.full {
	float: left;
	width: 1024px;
	overflow: hidden;
	margin: 15px 8px 0 -3px;
	display: inline;
	border-top: 3px solid #0c4d9e;
	padding: 40px -5px 0 -5px;
	*padding: 40px -5px 0 -5px;
	font-family: microsoft yahei
}

.full .titel {
	float: left;
	width: 729px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 20px;
	font-weight: bold;
	color: #0c4d9e;
}

.full .info {
	float: left;
	width: 729px;
	height: 29px;
	border-top: 1px solid #c9c9c9;
	background: #eee;
	line-height: 29px;
	text-align: center;
	margin-top: 20px;
}

.full .info span {
	font-family: Arial;
	padding: 0 60px;
	*padding: 0 60px;
	color: #616161;
}

.full .txt {
	float: left;
	width: 729px;
	overflow: hidden;
	margin-top: 30px;
	font-size: 14px;
	color: #343434;
	line-height: 30px;
}

.full .txt p {
	text-indent: 2em;
}

.full .print {
	float: left;
	width: 729px;
	height: 29px;
	border-bottom: 1px solid #c9c9c9;
	background: #eee;
	line-height: 29px;
	text-align: center;
	margin-top: 20px;
}

.full .print span {
	padding: 0 60px;
	*padding: 0 60px;
}

.full .print span a {
	padding: 0 5px;
	*padding: 0 5px;
	color: #787878;
}

.full .print span a:hover {
	padding: 0 5px;
	*padding: 0 5px;
	color: #F30;
}

.full .print_1 {
	float: left;
	width: 729px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	margin-top: 20px;
}

.relevant_notice {
	width: 730px;
	height: auto;
	margin-top: 35px;
	float: left;
	margin-left: 143px;
	display: inline;
}

.relevant_notice h1 {
	float: left;
	width: 730px;
	height: 31px;
	background-color: #f5f5f5;
	line-height: 31px;
	font-size: 14px;
	font-family: "microsoft yahei";
	font-weight: bold;
	color: #0c4d9e;
	text-indent: 20px;
}

.relevant_notice ul {
	float: left;
	width: 730px;
	margin-left: 3px;
	margin-top: 10px;
	display: inline;
}

.relevant_notice ul li {
	width: 730px;
	height: 26px;
	line-height: 26px;
	border-bottom: 1px dashed #e9e9e9
}

.relevant_notice ul li p {
	width: 660px;
	float: left;
	text-indent: 10px;
	color: #1f3b7b;
}

.relevant_notice ul li p b {
	color: #cc0f0e;
	margin-right: 5px;
	display: inline;
}

.relevant_notice ul li p a {
	color: #1f3b7b;
}

.relevant_notice ul li p a:hover {
	color: #8d0000;
	text-decoration: underline;
}

.relevant_notice ul li span {
	width: 70px;
	float: right;
	line-height: 26px;
	color: #9fadcd;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}

/**/
.search_jg {
	width: 996px;
	margin-top: 10px;
	height: 100%;
	margin-left: 11px;
	display: inline;
	float: left;
	overflow: hidden;
	height: 30px;
	border-top: 1px solid #e6e6e6;
	background-color: #fbfbfb;
}

.search_jg p {
	width: 115px;
	height: 30px;
	float: left;
	overflow: hidden;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}

.search_jg .fanye {
	width: 430px;
	float: right;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	color: #999;
	margin-right: 15px;
	display: inline;
}

.search_input2 {
	width: 20px;
	height: 20px;
	border: 1px solid #bebebe;
	margin-top: 2px;
}

.search_jg .shuxing {
	width: 348px;
	float: right;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	color: #999;
}

.search_jg .shuxing span {
	float: left;
	overflow: hidden;
	width: 110px;
	height: 30px;
	line-height: 30px;
	color: #999
}

.search_jg .shuxing p {
	float: left;
	overflow: hidden;
	line-height: 20px;
	color: #999;
	height: 20px;
	width: 87px;
	border: 1px solid #bebebe;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	display: inline;
}

.jgcx {
	border: 1px solid #bebebe;
	margin-top: 6px;
}

.search_nr {
	width: 956px;
	height: 100%;
	float: left;
	overflow: hidden;
	padding: 20px;
	*padding: 20px;
}

.search_nr dd {
	width: 970px;
	line-height: 30px;
	color: #0000ff;
}

.search_nr dd a {
	color: #0000ff;
}

.search_nr dd a:hover {
	color: #ff002a;
}

.search_nr li {
	float: left;
	overflow: hidden;
	width: 970px;
	line-height: 30px;
	border-bottom: 1px solid #f1f1f1;
	color: #a0a0a0;
}

.important_notice {
	height: 223px
}

.ejcggg {
	font-family: "microsoft yahei";
	font-size: 12px;
}

.ejcggg td {
	height: 28px;
	border-bottom: 1px #eaeaea dashed;
}


.m_title2 span {
	float: right;
	margin-right: 3px;
	display: inline;
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
	font-family: "microsoft yahei"
}

.m_title2 span a {
	color: #b5b5b5;
	position: absolute;
	top: 0px;
	right: 5px;
}

.important_notice2 {
	float: left;
	margin-left: 5px;
	display: inline;
	width: 220px;
	height: auto;
}

.important_notice2 ul {
	float: left;
	width: 220px;
	height: auto;
	padding-top: 9px;
	margin-bottom: 15px;
}



.important_notice2 ul li a {
	color: #565656;
}

.important_notice2 ul li a:hover {
	color: #000;
}

/*2015.12.7新增样式start*/
.important_notice3 {
	float: left;
	width: 768px;
	padding-bottom: 20px;
	border-left: 1px solid #cee1ff;
	border-right: 1px solid #cee1ff;
	border-bottom: 1px solid #99b9e8;
	margin-left: 4px;
	margin-top: -12px;
	height: auto;
	background-color: #dde9fc;
}





.important_notice3 h1 img {
	float: left;
	margin-top: 10px;
	margin-left: 12px;
	display: inline;
}



.important_notice3 h1 span a {
	color: #093369
}

.important_notice3 h1 span a:hover {
	color: #dd9200;
	cursor: pointer
}

.important_notice3 ul {
	float: left;
	width: 758px;
	margin-left: 9px;
	margin-top: 10px;
	height: auto;
	margin-bottom: 4px;
}

.important_notice3 ul li {
	float: left;
	height: 33px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 6px;
	font-family: "microsoft yahei";
	margin-right: 9px;
	display: inline;
	overflow: hidden;
}



.important_notice3 ul li a:hover {
	color: #000;
}

.important_notice4 {
	float: left;
	width: 220px;
	height: auto;
}

.important_notice4 ul {
	float: left;
	width: 220px;
	height: auto;
	padding-top: 9px;
	margin-bottom: 15px;
}

.important_notice4 ul li {
	float: left;
	width: 218px;
	margin-bottom: 6px;
	height: 70px;
	overflow: hidden;
}

.important_notice4 ul li a {
	color: #565656;
}

.important_notice4 ul li a:hover {
	color: #000;
}

/*2015.12.7新增样式end*/
ul.list_news2 {
	float: left;
	width: 738px;
	padding: 15px 5px;
	*padding: 15px 5px;
	font-size: 12px;
	line-height: 32px;
}



ul.list_news2 li p {
	float: left;
	margin-left: 5px;
	display: inline;
	color: #1f3b7b;
}

ul.list_news2 li p b {
	float: left;
	color: #cc0f0e;
	margin-right: 5px;
	display: inline;
	font-size: 12px;
}

ul.list_news2 li p a {
	color: #373737;
	padding-left: 5px;
	*padding-left: 5px;
}

ul.list_news2 li a:hover {
	color: #c50000;
}

ul.list_news2 li span {
	width: 70px;
	float: right;
	line-height: 28px;
	color: #9fadcd;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif
}



.denglu {
	float: left;
	width: auto;
	height: auto;
	margin-left: 62px;
	display: inline;
}

.denglu2 {
	float: left;
	width: auto;
	height: auto;
	margin-left: 62px;
	display: inline;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 39px;
	color: #053674;
	padding-left: 13px;
}

.denglu2 a {
	color: #053674;
	text-decoration: underline;
}




.gys a {
	color: #0b458d;
	cursor: pointer;
}

.gys a:hover {
	color: #053674;
	cursor: pointer;
}


.dljg a {
	color: #0b458d;
	cursor: pointer;
}

.dljg a:hover {
	color: #053674;
	cursor: pointer;
}

.unified_login1 p {
	width: 155px;
	float: left;
	margin-top: 5px;
	color: #84878b;
	line-height: 19px;
	margin-left: 5px;
	display: inline
}

.unified_login1 p a {
	color: #84878b
}

.unified_login1 p a:hover {
	color: #1c5ba5;
	text-decoration: underline;
}



/*星星评价*/
.yellow_star {
	color: #ffbb2a;
	font-size: 18px;
}

.gray_star {
	color: #ccc;
	font-size: 18px;
}
